:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-footer-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --text-footer: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --primary-font: Roboto;
  --secondary-font: Raleway;
  --batton-bg-hover: #188ce8;
  --bg-icon-color: #ffffff1a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  list-style: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}
img {
  display: block;
  max-width: 100%;
}
/* Хедер */

.header {
  border-bottom: 1px solid var(--border-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-right: 93px;
}
.logo-web {
  color: var(--accent-color);
}
.nav-box {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.link-box {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: inline-flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contact-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover .contact-icon {
  fill: var(--accent-color);
}
.nav-link.current {
  position: relative;
}
.current::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -1px;
  height: 4px;
  background-color: var(--accent-color);
  width: 100%;
  border-radius: 4px;
}

/* Герой */
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
  max-width: 1600px;
  margin: auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
.button-hero {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  margin: 30px auto 0 auto;
  /* box-shadow: 0px 4px 4px rgb(0 0 0 / 15%); */
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--batton-bg-hover);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
/* Наши преимущества */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.list-block {
  display: flex;
  border-radius: 4px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--primary-bg-color);
}

.item-section {
  padding-bottom: 0;
}

.title-details {
  display: flex;
  justify-content: space-between;
}

.item {
  max-width: 270px;
}
.title-details.item:not(:last-child) {
  margin-left: 30;
}

.section-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 10px;
}
.details {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Чем мы занимаемся */
/* Наша команда */

.card-set {
  display: flex;
  justify-content: space-between;
}
.card-thumb {
  position: relative;
}
.card-wrap {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.card-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
.section-team {
  background-color: var(--primary-bg-color);
}

.vector {
  margin-bottom: 50px;
}
.team {
  margin-bottom: 50px;
}
.vector,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.position-box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--primary-white-color);

  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.position {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
.social-links:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover svg,
.social-link:focus svg {
  fill: var(--primary-white-color);
}
.social-link svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Постоянные клиенты */

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-text-color);
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover,
.client-logo:focus {
  border-color: var(--accent-color);
}
.client-icon:hover,
.client-icon:focus {
  fill: var(--accent-color);
}

.client-logo:hover .client-icon,
.client-logo:focus .client-icon {
  fill: var(--accent-color);
}

/* портфолио */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button {
  padding: 6px 22px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  box-shadow: none;
  border-radius: 4px;
}
.filter-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0 0, 0.8), 0px 2px 2px rgb(0 0 0 / 12%);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-linke {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-linke:hover,
.portfolio-linke:focus {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.6), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:nth-child(3n + 2) {
  margin-right: 30px;
  margin-left: 30px;
}
.portfolio-item:nth-last-child(-n + 6) {
  margin-top: 30px;
}
.portfolio-box {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px 24px;
  border-radius: 4px;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4;
}
.portfolio-projeсt {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio-linke:hover .linke-overlay,
.portfolio-linke:focus .linke-overlay {
  transform: translateY(-100%);
}
.wrap-overlay {
  position: relative;
  overflow: hidden;
}
.linke-overlay {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* Футер */

.logo-footer {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.connection-box {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.connection-box:last-child {
  margin-bottom: 0;
}
.link-address {
  color: var(--primary-white-color);
}
.link-connection {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-footer);
  margin-top: 6px;
}
.link-connection:hover,
.link-connection:focus {
  color: var(--primary-white-color);
}
.footer-section {
  background-color: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.follow {
  margin-left: 70px;
}
.follow-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.social-follow {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.social-follow li:not(:last-child) {
  margin-right: 10px;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
.footer-link svg {
  width: 22px;
  height: 22px;
  fill: var(--primary-bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Подписаться */

.subscribe-title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.subscribe {
  margin-left: auto;
}
.subscribe-form {
  display: flex;
}
.subscribe-form input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px;
  background-color: var(--hero-footer-color);
  width: 358px;
  height: 50px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-email::placeholder {
  color: rgba(255, 255, 255, 0, 6);
}
.subscribe-email:hover {
  border: 1px solid var(--accent-color);
}
.subscribe-icon {
  padding: 0;
  fill: var(--primary-white-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.subscribe-button {
  display: flex;
  align-items: center;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: transparent;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--batton-bg-hover);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.close:hover {
  fill: var(--accent-color);
}

/* Форма данных клиента*/

.form-title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
  font-size: 19px;
  line-height: 1.1;
}

.form-modals {
  margin-top: 15px;
}
.form-box {
  display: block;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 12px;
  position: relative;
}
.form-input,
.form-comment {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 0 10px 0 35px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transform: translateY(-50%); */
}
.form-comment {
  resize: none;
  height: 120px;
  margin-bottom: 17px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 16px;
}
.form-comment::placeholder {
  color: rgba(117, 117, 117, 0, 5);
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 12px;
}
.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.checkbox-policy {
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.checkbox-policy-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.checkbox-input:focus-within .checkbox-icon {
  background-color: var(--accent-color);
}
.form-box:hover .form-input,
.form-box:hover .form-comment {
  border-color: var(--accent-color);
}
.form-icon:hover,
.form-icon:focus {
  fill: var(--accent-color);
}
.form-box:hover svg,
.form-box:focus svg {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-align: center;
  padding: 10px 55px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  display: block;
  margin: 0 auto;
}
.submit-button:focus,
.submit-button:hover {
  background-color: var(--batton-bg-hover);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
