@import "../utils/variables";

.secondary-form {
  min-width: 100%;
}

.secondary-form__box {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    padding-top: 12px;
  }
}

.secondary-form__input-box {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.secondary-form__input {
  width: 100%;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #fff;
  padding: 15px 16px;
  height: 50px;
  margin-bottom: 20px;

  @media screen and(min-width:1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  &:focus {
    outline: none;
    border-color: $colorAccent;
  }
}
