@import "../utils/variables";

.development-type {
  position: relative;
}

.development-type__image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px;

  background-color: rgba(47, 48, 58, 0.8);
}
