@import "../utils/variables";

.examples-set {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    display: grid;
    grid: (440px 1fr 1fr 1fr 1fr) / repeat(2, 1fr);

    grid-gap: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
  }
}

.examples-set__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    align-items: center;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: $shadowItem;
  }
}

.examples-set__link {
  display: block;
  height: 100%;
}

@import "../components/example-works";
