.header {
    position: relative;
    border-bottom: 1px solid $border-color;
    &__container {
        display: flex;
        @media screen and (max-width: 767px) {
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            align-items: center;
        }
        @media screen and (min-width: 1200px) {
            align-items: baseline;
        }
    }
    @media screen and (min-width: 768px) {
        position: initial;
    }
}

.nav__logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $title-text-color;
    @media screen and (min-width: 768px) {
        margin-right: 93px;
    }
}

.nav__logo-web {
    color: $accent-color;
}

@media screen and (min-width: 768px) {
    nav {
        width: 100%;
        height: 100%;
    }
}

.nav__list {
    position: absolute;
    top: 48px;
    left: 40px;
    display: block;
    @media screen and (min-width: 768px) {
        position: initial;
        display: flex;
    }
    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //   margin-left: auto;
    // }
}

.nav__item {
    @media screen and (max-width: 767px) {
        padding-top: 0;
        margin-right: 0;
        margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 32px;
        margin-right: 50px;
    }
}

.nav__item:first-child {
    padding-bottom: 0;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    display: inline-flex;
    color: $title-text-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    @media screen and (min-width: 768px) {
        display: inline-flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
    }
    &:hover,
    &:focus {
        color: $accent-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav__link.current {
    position: relative;
}

.current {
    color: $accent-color;
    &::after {
        display: none;
        @media screen and (min-width: 768px) {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: -1px;
            height: 4px;
            width: 100%;
            border-radius: 4px;
            background-color: $accent-color;
        }
    }
}

.contacts-thumb {
    @media screen and (max-width: 767px) {
        position: absolute;
        left: 40px;
        bottom: 48px;
    }
}

.contacts-thumb {
    @media screen and (min-width: 768px) {
        margin-left: 84px;
    }
    @media (min-width: 1200px) {
        margin-left: auto;
    }
}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    align-items: stretch;
    margin-bottom: 64px;
    margin-left: 0;
    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        margin-left: 200px;
    }
    &__item:not(:first-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 32px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 10px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}

.contacts__item+.contacts__item {
    @media (min-width: 1200px) {
        margin-left: 30px;
    }
}

.contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .contacts__item:hover &,
    .contacts__item:focus & {
        color: $accent-color;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        font-size: 12px;
        line-height: 14px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .contacts__link[href="tel:+380961111111"] {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: $accent-color;
    }
    .contacts__link[href="mailto:info@devstudio.com"] {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: $primary-text-color;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contacts__link[href="mailto:info@devstudio.com"]>svg {
        width: 14px;
        height: 10px;
    }
    .contacts__link[href="tel:+380961111111"]>svg {
        width: 10px;
        height: 14px;
    }
}

.contacts__icon {
    display: none;
    fill: $icon-color;
    margin-right: 10px;
    .contacts__item:hover & {
        fill: $accent-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 8px;
    }
}