@import "../utils/variables";

.occupation {
  display: none;
  padding-top: 0;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.occupation__shell {
  text-align: center;
}

.occupation__list {
  display: flex;
}

.occupation__list-item:not(:first-child) {
  margin-left: 30px;
}

@import "./development-type";
