@import "../utils/variables";

.socialnets-contacts {
  display: flex;
  margin-top: 64px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.socialnets-contacts__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $colorAccent;
}

.socialnets-contacts__list-item:not(:nth-child(1)) {
  position: relative;
  margin-left: 10px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -10px;
    height: 100%;
    width: 1px;
    background-color: $bgColorPrimaryInput;
  }
}

.socialnets-contacts__list-item:not(:nth-last-child(1)) {
  margin-right: 10px;
}
