@import "../utils/_variables.scss";

.primary-button {
  color: #ffffff;
  background-color: $colorAccent;

  font-family: $fontFamilyPrimary;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;

  display: inline-block;
  padding: 10px;
  min-width: 200px;
  height: 50px;

  border: 0;
  border-radius: 4px;
  transform: translateY(0);
  transition: transform $animationDuration $animationTimeFunction;

  &__core {
    display: inline-flex;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    margin-left: 10px;
  }
}

.primary-button--formstyle {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: translateY(-5px);
  }
}
