.skills__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.skills-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  background-color: $primary-bg-color;

  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.skills-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  &__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
.skills-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
}

.skills-list__details {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
