@import "../utils/variables";

.links-list {
  display: flex;
  justify-content: center;

  &--no-justify {
    justify-content: flex-start;
  }
}

.links-list__item:not(:nth-child(1)) {
  margin-left: 10px;
}

.links-list__shell {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  fill: $colorPrimaryIcon;

  &--footer-colors {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  }

  &:hover,
  &:focus {
    background-color: $colorAccent;
    fill: $bgColorPrimary;
  }
}
